# Ignore everything
/*

# Prettier 无法解析 Astro 内联脚本，跳过这些文件
src/layouts/Layout.astro
src/layouts/PostDetails.astro
src/pages/index.astro

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md