---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/config";

const page = await getEntry("pages", "about");
if (!page) {
  throw new Error("content/about.md not found");
}

const { Content } = await render(page);
const pageTitle = page.data.title || SITE.title;
const pageDescription = page.data.description || SITE.description;
---

<Layout
  title={pageTitle}
  description={pageDescription}
  schemaType="AboutPage"
>
  <article id="article">
    <div class="post-content page-content">
      <Content />
    </div>
  </article>
</Layout>
